body{
    background-color:#114891;
    margin: 0;
    padding: 0;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.high{
    color: #f50057;
}

.detail{
    display: flex;
    margin-top: 50px;
    

}
.detailright{
    margin-top: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

.imageleft{
    height: 100vh;
    width: 70%;
}
.detailrightpara{
    margin-top: 70px;
    color: #ccc;
}
.detailtitre{
    color: white;
}
.detailshopbag{
    width: 100%;
    top: 224px;
}

.buttonsize{
   margin-top: 45px;
}

.buttonmain{
    
    width: 11rem;
}

.buttoncontain{
    width: 100%;
}

.red{
    background-color: brown;
    
}

.btmenulist{
    width: 11rem;
}

.addShopCart{
    background-color: crimson;
}

@media screen and (max-width: 768px){
    .detail{
        display: flex;
     flex-direction: column;
    }

    .imageleft{
        width: 100%;
        height: 50vh;
    }
    .detailtitre{
        font-size: 47px;
    }
  


}

/*  /// Ici c'est le Footer  */

footer{
    width: 100%;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-top: 100px;
    padding: 80px 0; 
    
   background: black;
}

.up{
    display: flex;
    justify-content: space-between;
}

.listfooter ul{
    margin: 0 14px;
    color: white;
}

.listfooter li {
    margin-top: 17px;
    font-size: .8rem;
}

li{
    list-style-type: none;
    cursor: pointer;
}

.listfooter, .iconfooter{
    margin-top: 30px;
    display: flex;
    transition: .4s all;
}
.iconfooter{
    margin-right: 60px;
}

.listfooter li:hover{
    color: #ccc;
}

.iconfooter ul{
    display: flex;
}

.iconfooter li{
    margin: 5px;
    font-size: 2rem;
}

.iconfooter li:hover{
    color: #114891;
}

.iconfooter a{
    color: white;
}

@media screen and (max-width: 768px){
    .up{
        display: flex;
        flex-direction: column;
    }
    .listfooter{
        flex-direction: column;
        margin: 57px 0;
    }
    
}

/*  //// Main media entete de la page products */

.main-media{
  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.dribbble.com/users/118819/screenshots/2342406/nike_intro_d_2.gif');
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
  position: relative;
}

.main-media h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.2rem;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 25px;
}

.main-media button{
    background: white;
    border: none;
    padding: 1rem;
    border-radius: 25px;
    font-weight: bolder;
    position: absolute;
    bottom: 40px;
    left: 25px;
    outline: none;
    cursor: pointer;
}
.main-media button:hover{
    background-color: rgba(255, 255, 255, 0.416);
  
}

@media screen and (max-width: 768px){
    .main-media{
        height: 70vh;
        
    }
    .main-media h1{
        font-size: 1.4rem;
    }

}


/*  ////  Ici c'est splitmedia section image dynamyque */


.splitmedia{
    margin: 100px 0 ;

}
.splitmedia-img{
    display: flex;
    justify-content: space-between;
}

.splitmedia-img-one, .splitmedia-img-two{
    width: 49%;
    height: 85vh;
  
}

.splitmedia-img-one{
    background-image: url('https://cdn.dribbble.com/users/118819/screenshots/5679748/nikehoi.gif');
    background-size: cover;
}
.splitmedia-img-two{
    background: url(https://images.unsplash.com/photo-1531734510209-2da4a139a53a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2458&q=80);
    background-size: cover;
    background-position: center;
    position: relative;
}
.splitmedia-img-two h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: white;
    position: absolute;
    bottom: 80px;
    right: 25px;
}
.splitmedia-img-two button{
    background: white;
    border: none;
    padding: 1rem;
    width: 6rem;
    border-radius: 25px;
    font-weight: bolder;
    position: absolute;
    bottom: 40px;
    right: 25px;
    outline: none;
    cursor: pointer;
}
.splitmedia-img-two button:hover{
    background-color: rgba(255, 255, 255, 0.616);
}

.splitmedia h1{
    font-weight: lighter;
    
}

@media screen and (max-width: 768px){
    .splitmedia-img{
        flex-direction: column;
    }

    .splitmedia-img-one, .splitmedia-img-two{
        width: 100%;
        height: 50vh;
    }

    .splitmedia-img-one{
        margin-top: 100px;
    }
    
}


/* //////   page Detail  ////  */

.buttonwarper{
   
    margin-top: 60px;
    margin-bottom: 240px;
 
}