body{
    background-color:#114891;
    margin: 0;
    padding: 0;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.high{
    color: #f50057;
}

.detail{
    display: flex;
    margin-top: 50px;

}
.detailright{
    margin-top: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

.imageleft{
    height: 100vh;
    width: 70%;
}
.detailrightpara{
    margin-top: 70px;
    color: black;
}
.detailtitre{
    color: white;
}
.detailshopbag{
    width: 100%;
    top: 224px;
}

.buttonsize{
   margin-top: 45px;
}

.buttonmain{
    
    width: 11rem;
}

.buttoncontain{
    width: 100%;
}

.red{
    background-color: brown;
    
}

.btmenulist{
    width: 11rem;
}

.addShopCart{
    background-color: crimson;
}

/*  /// Ici c'est le Footer  */

footer{
    width: 100%;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-top: 22px;
    padding: 80px 0; 
}

.up{
    display: flex;
    justify-content: space-around;
}

.listfooter ul{
    margin: 0 14px;
    color: white;
}

.listfooter li {
    margin-top: 17px;
    font-size: .8rem;
}

li{
    list-style-type: none;
    cursor: pointer;
}

.listfooter, .iconfooter{
    margin-top: 30px;
    display: flex;
}

.iconfooter ul{
    display: flex;
}

.iconfooter li{
    margin: 5px;
    font-size: 2rem;
}

.iconfooter li:hover{
    color: #114891;
}

.iconfooter a{
    color: white;
}