body{
    background-color:blanchedalmond;
    margin: 0;
    padding: 0;
}


.detail{
    display: flex;
    margin-top: 50px;

}
.detailright{
    margin-top: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

.imageleft{
    height: 100vh;
    width: 70%;
}
.detailrightpara{
    margin-top: 70px;
}

.detailshopbag{
    width: 100%;
    top: 224px;
}

